<footer class="footer">
  <small>
    Research by <a href="http://coen.boisestate.edu/faculty-staff/solepera/">Dr. Sole Pera</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Admin Log In",   '#' %></li>
    </ul>
  </nav>
</footer>
