    <div class="title">
      <a href="/">Self Data</a>
    </div>

    <div id="nav-bar">
      <ul><li id="last"></li></ul>
    </div>

    <div class = "content">
      <div class="signIn">
This website allows a user to keep track of data for different days of the week. A user can create different labels for 'tasks' and enter in a numerical value. Then a user can graph their data to see the values of tasks over a given time period.
</br></br> This website was originally created from scratch for CS401 Introduction to Web Development in the Fall of 2013. Now it has been recreated with Ruby on Rails for CS597 Enterprise Web Development in the Fall of 2015. Both courses are offered at Boise State University.
      </div>

      <div class="signUp">
        <%= link_to 'Log In', login_path %>
        <%= link_to 'Sign Up', signup_path %>
      </div>
    </div>

    <div id="footer">
      &copy;2015 Kelsey Suyehira
    </div>
