
		<div class="title">
			<a href="">Self Data</a>
		</div>
		<div id="nav-bar">
			<div class="logo">
    				<a href="profile.php"><img src="" /></a>
  			</div>
			<ul>
				<li><%= link_to 'Home', user_path(current_user) %></li>
				<li class='last'><%= link_to 'Record', new_user_date_object_path(current_user) %></li>

			</ul>
		</div>


