 <%= render 'layouts/header' %>
		
		<div class="content">

			<div class="top">
				Select a day to record your activities ...
			</div>
			
			<div id="datepicker-container">
				<div id="datepicker-center">
					<div id="fullCalendar" name="fullCalendar"></div>
					<%= render 'date_objects/form' %>
				</div>
			</div>

		</div>

 <%= render 'layouts/footer' %>


