</br>
<h3>Query Data</h3>
<div class="center jumbotron">
<table class="table table-hover" >
  <thead>
  <tr>
    <th>Session Id</th>
    <th>Query String</th>
    <th>Used Query Suggestion</th>
    <th>TimeStamp</th>
    <th>Grade</th>
    <th>School</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
 </tbody>
</table>
</div>
